* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.body {
    background-image:url(https://cdnb.artstation.com/p/assets/images/images/003/680/429/large/nova-ashbell-sc01-03.jpg?1476361405) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(3px);
    font-family: sans-serif;
    font-weight: 300;
    font-size: 12px;
  }
  .sk{
    position: sticky;
    top: 0;
}
.nav{
    background: rgb(29, 29, 31);
    display:flex ;
    
}
.pt{
    background: black;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 0px 15px;
}
.pt h1{
    color: rgb(136, 148, 158);
    padding: 8px 15px;
}

.pt img{
    width: 60px;
}
.navbar-item{
    color: white;
    text-decoration: none;
    padding: 16px 20px;
    display:inline-block;
    text-transform: uppercase;
    
}
.nav a:hover{
    background: rgb(99, 102, 109);
    color: rgb(29, 29, 31);
}
.chude{
    text-align: center;
    padding-top: 30px;
    font-size: 42px;
    font-weight: 450;
}
.td{
    text-align: center;
    margin-bottom: 12px 20px;
    font-weight: 500;

}

  .container {
    background-image: url('https://i.giphy.com/media/G0Odfjd78JTpu/giphy.webp');
    width: 280px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 8px;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.5);
  }
  
  .top {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #aaa;
    padding: 8px 0;
  }
  
  .top input {
    background-color: transparent;
    border: none;
    padding: 0 8px;
    color: #fff;
  }
  
  .top input:focus {
    outline: none;
  }
  
  .center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .center .location {
    font-size: 18px;
    font-weight: 500;
  }
  
  .center > * {
    margin-bottom: 8px;
  }
  
  .bottom {
    display: flex;
    width: 100%;
    padding: 12px 14px;
    border-top: 1px solid #fff;
  }
  
  .bottom > div {
    width: 50%;
  }
  
  .bottom p {
    margin-bottom: 4px;
  }
  
  .temperature {
    font-size: 64px;
    font-weight: 500;
  }
  